<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Info" internalLogFile="c:\temp\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="i" fileName="${basedir}/logs/Info/${shortdate}.log"
			layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  	<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target xsi:type="File" name="e" fileName="${basedir}/logs/Error/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target xsi:type="Null" name="blackHole" />

		<target name="database" type="Database" connectionString="Data Source=localhost;Initial Catalog=BreweryWholesaleDB;User ID=PracticeUser;Password=P@ssw0rd;TrustServerCertificate=True;" >
			<commandText>
				<!--insert into logs(RequestBody)values(1)-->
				INSERT INTO Logs (
				"Machine"
				,"Level"
				,"Logger"
				,"Message"
				,"RequestPath"
				,"Headers"
				,"RequestBody"
				,"Response"
				,"Exception"
				,"ExecutionTime"
				,"IP"
				,"RequestMethod"
				,"RequestContentType"
				,"BaseLink" 
				)
				VALUES(
				@Machine
				,@Level
				,@Logger
				,@Message
				,@RequestPath
				,@Headers
				,@RequestBody
				,@Response
				,@Exception
				,@ExecutionTime
				,@IP
				,@RequestMethod
				,@RequestContentType
				,@BasePath 
				);
			</commandText>

 
			<parameter name="@Machine" layout="${machinename}"/>
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@RequestPath" layout="${mdlc:item=RequestPath}" />
			<parameter name="@Headers" layout="${mdlc:item=Headers}" /> 
			<parameter name="@RequestBody" layout="${mdlc:item=RequestBody}" /> 
			<parameter name="@Response" layout="${mdlc:item=Response}" /> 
			<parameter name="@Exception" layout="${mdlc:item=Exception}" />
			<parameter name="@Stacktrace" layout="${mdlc:item=Stacktrace}" />
			<parameter name="@ExecutionTime" layout="${mdlc:item=ExecutionTime}" />
			<parameter name="@IP" layout="${mdlc:item=IP}" />
			<parameter name="@RequestMethod" layout="${mdlc:item=RequestMethod}" />
			<parameter name="@RequestContentType" layout="${mdlc:item=RequestContentType}" />
			<parameter name="@BasePath" layout="${mdlc:item=BasePath}" /> 
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="blackHole" final="true" />
		<logger name= "*"  levels = "Info" writeTo = "i" />
		<logger name= "*"  levels = "Info" writeTo = "database" /> 
		<logger name = "*" minlevel = "Error" writeTo = "e" />
		<logger name = "*" levels = "Error" writeTo ="database" />
	</rules>

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
</nlog>